@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url('/images/daniel-ramirez-q4TfWtnz_xw-unsplash.jpg') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.degrees{
    content: '\00b0';
}